/* Put all elements of App in flex container */
.App
{
  flex-direction: column;
  display: flex;
}

/* all Header elements */
.Header
{
  display: flex;
  background-color: #131921;
  font-family: 'Trebuchet MS', sans-serif;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  flex-wrap: wrap;
}

/* Change 'Lazado' to white color */
.Header header 
{
  font-size: 50px;
  color: white;
}

/* contain APPLIANCES, GROCERIES, ACCESSORIES, & APPAREL tabs in flex container */
.boxes 
{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  flex-wrap: wrap;
}

/* Remove default border style of tabs */
.Types
{
  display: flex;
  padding: 10px;
  background-color: #131921;
  color: white;
  border-style: none;
  flex-direction: row;
  font-family: 'Trebuchet MS', sans-serif;
  justify-content: space-evenly;
}

/* Change tabs design when selected */
.Types.selected
{
  background-color: #FFA41C;
  color: black;
}

/* Color bg of body as grey and set default font of all targets as Arial */
.Body 
{
  display: flex;
  background-color: #D9D9D9;
  padding: 10px;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

/* Contain all item elements within flex box */
.Items
{
  display: flex;
  background-color: white;
  padding: 20px;
  text-align: center;
  align-items: center;
  justify-content:space-between;
  flex-direction: column;
  border-width: 0px;
  font-weight: bold;
  font-size: 20px;
  gap: 3px;
}

/* set size image of items */
.img 
{
  width: 180px;
  height: 180px;
}

/* Contain shopping cart panel in flex box */
.cart 
{
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 30px;
}
 
/* Contain chosen items in flex box then edit design */
.cartItems 
{
  display: flex;
  background-color: white;
  padding: 20px;
  text-align:end;
  align-items: center;
  justify-content:space-between;
  border-width: 2px;
  border-style:groove;
  width: 200px;
  gap: 10px;
}

/* change buttons to blue and make it round */
.btns 
{
  display: flex;
  background-color: #0053A0;
  border-radius: 30px;
  border-color: #3EA4FF;
  padding: 15px;
  color: white;
  font-family: 'Trebuchet MS', sans-serif;
}

/* resize trash bin icon to 15px */
.deletebutton 
{
  width: 15px;
  height: 15px;
}