.header 
{
    display: flex; /* Make header a flex container */
    align-items: center; /* Align content vertically */
    justify-content: flex-start; /* or center */
    padding: 1rem; /* Add some padding */
    background-color: #f0f0f0; /* Optional background color */
}
  
.banner 
{
    display: flex; /* Make banner a flex container for horizontal arrangement */
    align-items: flex-end; /* Align content within the banner vertically */
}
  
nav 
{
    margin-left: auto;
}
  